$color-bg: #F4F5F9;
$color-gradient-start: #3877EE;
$color-gradient-end: #EF5DA8;
$color-year-start: #5D5FEF;
$color-year-end: #EF5DA8;
$color-primary: #42567A;
$color-years: #3877EE;

$font-primary: 'PT Sans', sans-serif;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$circle-diameter: 530px;
$dot-size: 56px;
$dot-size-small: 6px;