@import '../../styles/variables';
@import '../../styles/mixins';

.years-display {
    display: flex;
    gap: 100px;
    position: relative;
    z-index: 1;
    pointer-events: none;
    user-select: none;

    @include tablet {
        gap: 30px;
        justify-content: center;
    }

    &__start,
    &__end {
        font-size: 200px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -4px;
        font-family: $font-primary;

        @include tablet {
            font-size: 56px;
            letter-spacing: -1px;
        }
    }

    &__start {
        color: $color-year-start
    }

    &__end {
        color: $color-year-end;
    }
}